/build
/dist
/plugin.so
/plugin.dylib
/plugin.dll
.DS_Store
.vscode/c_cpp_properties.json
.vs/MyPlugin/FileContentIndex/544d58c6-21f0-4643-97fc-af27e553a41d.vsidx
.vs/MyPlugin/FileContentIndex/read.lock
.vs/MyPlugin/v17/.suo
.vs/MyPlugin/v17/Browse.VC.db
.vs/MyPlugin/v17/Browse.VC.db-shm
.vs/MyPlugin/v17/Browse.VC.db-wal
.vs/MyPlugin/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/MyPlugin/FileContentIndex/1a270b3d-212a-474a-8f38-3a7f976be809.vsidx
.vs/MyPlugin/FileContentIndex/2f9b1601-d81b-4887-88f6-03337a385449.vsidx
