/build
/dist
/plugin.so
/plugin.dylib
/plugin.dll
.DS_Store
.vscode/c_cpp_properties.json
.vs/MyPlugin/FileContentIndex/544d58c6-21f0-4643-97fc-af27e553a41d.vsidx
.vs/MyPlugin/FileContentIndex/read.lock
.vs/MyPlugin/v17/.suo
.vs/MyPlugin/v17/Browse.VC.db
.vs/MyPlugin/v17/Browse.VC.db-shm
.vs/MyPlugin/v17/Browse.VC.db-wal
.vs/MyPlugin/v17/Browse.VC.opendb
.vs/ProjectSettings.json
.vs/slnx.sqlite
